---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
  network:
    hostname: chopper
    interfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: 10.0.1.100
