---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 40GiB
  grow: false
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: openebs-lvm
provisioning:
  minSize: 100GiB
  diskSelector:
    match: system_disk
