---
customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/iscsi-tools # iSCSI Initiator
      - siderolabs/qemu-guest-agent # QEMU Guest Agent
      - siderolabs/util-linux-tools # Linux Utilities
      - siderolabs/zfs # ZFS File System
      - siderolabs/binfmt-misc # QEMU Emulation
